$blue: #208abe;
$darkBlue: #1274a5;
$darkBlue2: #006db3;
$darkerBlue:#35415B;
$lightBlue: #43A5D3;

$aquamarine: #00838f;
$darkAquamarine:#004D40;
$lightAquamarine:#cbf2ef;

$darkGrey: #333;
$darkGrey2: #666;
$middleGrey: #999;
$middleGrey2: #ccc;
$grey: #eee;
$lightGrey: #fafafa;

$yellow:#CDDC39;
$red:#990000;
$green:#009688;