.menu-content, .underlay-content {
  -webkit-box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.5); }

.lfr-add-panel, .lfr-device-preview-panel, .lfr-edit-layout-panel {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }

.lfr-preview-file-image img, .lfr-translation-manager {
  -webkit-box-shadow: 0 3px 5px -3px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 3px 5px -3px rgba(0, 0, 0, 0.8);
  box-shadow: 0 3px 5px -3px rgba(0, 0, 0, 0.8); }

.lfr-preview-file-image-current-column {
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.8); }

.lfr-preview-file-image-current-column {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.8); }

.lfr-device-preview .lfr-device-size-status-content {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 1px white;
  -moz-box-shadow: 0 0 1px white;
  box-shadow: 0 0 1px white;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9; }
.lfr-device-preview .lfr-device:after, .lfr-device-preview .lfr-device:before {
  -webkit-box-shadow: #111111 0 1px 0;
  -moz-box-shadow: #111111 0 1px 0;
  box-shadow: #111111 0 1px 0; }
.lfr-device-preview .lfr-device:after {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px; }
.lfr-device-preview .lfr-device.rotated:after, .lfr-device-preview .lfr-device.rotated:before {
  -webkit-box-shadow: #111111 -1px 1px 0;
  -moz-box-shadow: #111111 -1px 1px 0;
  box-shadow: #111111 -1px 1px 0; }
.lfr-device-preview .lfr-device.smartphone, .lfr-device-preview .lfr-device.tablet {
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px; }
.lfr-device-preview .lfr-device.tablet:before {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }

@media (max-width: 979px) {
  .navbar .navbar-search .form-search .search-query {
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    border-radius: 14px; } }
.portlet-document-library .lfr-ddm-small-image-preview, .portlet-dynamic-data-mapping .lfr-ddm-small-image-preview {
  -webkit-box-shadow: 0 1px 3px #cccccc;
  -moz-box-shadow: 0 1px 3px #cccccc;
  box-shadow: 0 1px 3px #cccccc; }

.portlet-asset-category-admin .tree-node-selected, .portlet-asset-category-admin .tree-node-over, .portlet-asset-category-admin .category-item {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }

.lfr-translation-manager-translation.lfr-translation-manager-translation-editing {
  -webkit-box-shadow: inset 0 0 2px #224fa8;
  -moz-box-shadow: inset 0 0 2px #224fa8;
  box-shadow: inset 0 0 2px #224fa8; }

.portlet-document-library-upload-mask .overlaymask-content {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }

.lfr-search-combobox-item, .portlet-journal .lfr-search-combobox .search input {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px; }

.lfr-search-combobox .field-input-text {
  -webkit-border-radius: 4px 1px 1px 4px;
  -moz-border-radius: 4px 1px 1px 4px;
  -ms-border-radius: 4px 1px 1px 4px;
  -o-border-radius: 4px 1px 1px 4px;
  border-radius: 4px 1px 1px 4px; }
.lfr-search-combobox .button-input {
  -webkit-border-radius: 1px 4px 4px 1px;
  -moz-border-radius: 1px 4px 4px 1px;
  -ms-border-radius: 1px 4px 4px 1px;
  -o-border-radius: 1px 4px 4px 1px;
  border-radius: 1px 4px 4px 1px; }

.lfr-upload-container .progress-bar, .lfr-upload-container .progress, .lfr-editable:after {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px; }

body > .lfr-menu-list ul, .active-area-proxy, .entry-display-style .entry-thumbnail, .lfr-api-results, .lfr-translation-manager, .lfr-translation-manager-translation, .lfr-upload-container .cancel-button .modify-pages .delete-tab, .portlet-image-gallery-display .image-thumbnail img, .rule-group-instance-container .rule-group-instance, .select-documents, .select-files, .taglib-ratings.stars:hover, .taglib-ratings.stars:hover .liferay-rating-vote, .tags-search-combobox .field-input-text {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }

.entry-display-style, .lfr-search-combobox, .lfr-upload-container .upload-file, .lfr-upload-container .upload-target, .portlet-document-library .common-file-metadata-container.selected, .portlet-document-library-display .common-file-metadata-container.selected, .portlet-image-gallery-display .image-icon, .select-documents, .select-files {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }

.portlet-journal .lfr-ddm-container .field-wrapper {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px; }

.portlet-journal .display-page-item-container .display-page-item, .portlet-journal .display-page-item-container .display-page-item .display-page-item-remove, .taglib-categorization-filter .asset-entry {
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  border-radius: 14px; }

.menu-content {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px; }

.taglib-form-navigator > .form-steps > ul.form-navigator.well {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }
  .taglib-form-navigator > .form-steps > ul.form-navigator.well .tab .tab-label:hover .number, .taglib-form-navigator > .form-steps > ul.form-navigator.well .tab .tab-label:focus .number {
    -webkit-box-shadow: 0 0 5px 0 #333333;
    -moz-box-shadow: 0 0 5px 0 #333333;
    box-shadow: 0 0 5px 0 #333333;
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -webkit-transition-property: box-shadow;
    -moz-transition-property: box-shadow;
    -o-transition-property: box-shadow;
    transition-property: box-shadow;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
  .taglib-form-navigator > .form-steps > ul.form-navigator.well .tab .tab-label .number {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%; }

.underlay-content {
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px; }

.lfr-add-panel .add-content-button .lfr-actions {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px; }
.lfr-add-panel .lfr-panel-content .app-view-entry-taglib.display-list:hover, .lfr-add-panel .lfr-panel-content .app-view-entry-taglib.display-list.hover, .lfr-add-panel .lfr-panel-content .app-view-entry-taglib.display-list.over, .lfr-add-panel .lfr-panel-content .app-view-entry-taglib.display-descriptive:hover, .lfr-add-panel .lfr-panel-content .app-view-entry-taglib.display-descriptive.hover, .lfr-add-panel .lfr-panel-content .app-view-entry-taglib.display-descriptive.over {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }
.lfr-add-panel .lfr-panel.lfr-extended {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }
.lfr-add-panel .lfr-panel.lfr-extended .lfr-panel-titlebar, .lfr-add-panel .add-application-tab .lfr-add-content .lfr-title-category {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d2dbe4), color-stop(100%, #bdc8d6));
  background-image: -webkit-linear-gradient(#d2dbe4, #bdc8d6);
  background-image: -moz-linear-gradient(#d2dbe4, #bdc8d6);
  background-image: -o-linear-gradient(#d2dbe4, #bdc8d6);
  background-image: linear-gradient(#d2dbe4, #bdc8d6); }
.lfr-add-panel .search-panel .add-content-search .field-input {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }

.lfr-add-dialog .add-content-menu .search-query, .lfr-add-panel .add-content-menu .search-query {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px; }

.lfr-content-preview-popup .lfr-content-preview-popup-content {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 8px 3px 7px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 8px 3px 7px rgba(0, 0, 0, 0.25);
  box-shadow: 8px 3px 7px rgba(0, 0, 0, 0.25); }

.lfr-message .lfr-message-control {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px; }

.lfr-token, .layout-customizable-controls, .lfr-translation-manager-delete-translation {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px; }

.customizable-layout-column-content {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px; }

.staging-tabview-list {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }

.site-variations-tabview-list .tab-content, .staging-tabview-list .tab-active .tab-content, .tagselector-content .textboxlistentry-holder .lfr-tag-selector-input:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

.rule-group-instance-container .rule-group-instance {
  -webkit-box-shadow: 1px 1px 2px #999999;
  -moz-box-shadow: 1px 1px 2px #999999;
  box-shadow: 1px 1px 2px #999999; }

.lfr-action-label {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px; }

.lfr-api-service-search .field-input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0; }

  to {
    background-position: 0 0; } }

@-moz-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0; }

  to {
    background-position: 0 0; } }

@-o-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0; }

  to {
    background-position: 0 0; } }

@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0; }

  to {
    background-position: 0 0; } }

.lfr-progress-active .progress-bar-status, .lfr-upload-container .file-uploading .progress-bar .progress {
  background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0));
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0));
  -webkit-background-size: 40px 40px;
  -moz-background-size: 40px 40px;
  -o-background-size: 40px 40px;
  background-size: 40px 40px;
  -webkit-animation: progress-bar-stripes 0.5s linear infinite;
  -moz-animation: progress-bar-stripes 0.5s linear infinite;
  -ms-animation: progress-bar-stripes 0.5s linear infinite;
  -o-animation: progress-bar-stripes 0.5s linear infinite;
  animation: progress-bar-stripes 0.5s linear infinite;
  -webkit-transition: width 0.5s ease-out;
  -moz-transition: width 0.5s ease-out;
  -o-transition: width 0.5s ease-out;
  transition: width 0.5s ease-out; }

@-webkit-keyframes highlight-animation {
  from {
    background-color: #FFC; }

  to {
    background-color: transparent; } }

@-moz-keyframes highlight-animation {
  from {
    background-color: #FFC; }

  to {
    background-color: transparent; } }

@-o-keyframes highlight-animation {
  from {
    background-color: #FFC; }

  to {
    background-color: transparent; } }

@keyframes highlight-animation {
  from {
    background-color: #FFC; }

  to {
    background-color: transparent; } }

.highlight-animation {
  -webkit-animation: highlight-animation 0.7s;
  -moz-animation: highlight-animation 0.7s;
  -ms-animation: highlight-animation 0.7s;
  -o-animation: highlight-animation 0.7s;
  animation: highlight-animation 0.7s; }

body:first-of-type .portlet-borderless-bar, body:first-of-type .portlet-content .lfr-icon-actions, body:first-of-type .portlet-borderless-container .lfr-icon-actions {
  -webkit-transition: opacity 0.5s ease;
  -webkit-transition-delay: 0.15s;
  -moz-transition: opacity 0.5s ease 0.15s;
  -o-transition: opacity 0.5s ease 0.15s;
  transition: opacity 0.5s ease 0.15s; }
body:first-of-type .portlet-borderless-container:hover .portlet-borderless-bar, body:first-of-type .portlet-content:hover .lfr-icon-actions, body:first-of-type .portlet-borderless-container:hover .lfr-icon-actions {
  -webkit-transition: opacity 0.5s ease;
  -webkit-transition-delay: 0s;
  -moz-transition: opacity 0.5s ease 0s;
  -o-transition: opacity 0.5s ease 0s;
  transition: opacity 0.5s ease 0s; }
body:first-of-type .portlet-borderless-bar .portlet-actions, body:first-of-type .portlet-content .lfr-icon-actions .taglib-text, body:first-of-type .portlet-borderless-container .lfr-icon-actions .taglib-text {
  display: inline-block;
  max-width: 0;
  overflow: hidden;
  -webkit-transition: max-width 0.3s ease-in;
  -webkit-transition-delay: 0.2s;
  -moz-transition: max-width 0.3s ease-in 0.2s;
  -o-transition: max-width 0.3s ease-in 0.2s;
  transition: max-width 0.3s ease-in 0.2s;
  text-overflow: ellipsis;
  white-space: nowrap; }
body:first-of-type .portlet-borderless-bar .portlet-actions, body:first-of-type .portlet-content:hover .lfr-icon-actions .taglib-text, body:first-of-type .portlet-borderless-container:hover .lfr-icon-actions .taglib-text {
  -webkit-transition: max-width 0.3s ease;
  -webkit-transition-delay: 0s;
  -moz-transition: max-width 0.3s ease 0s;
  -o-transition: max-width 0.3s ease 0s;
  transition: max-width 0.3s ease 0s; }
body:first-of-type .portlet-borderless-bar .portlet-actions {
  -moz-border-radius-bottomleft: 20px;
  -webkit-border-bottom-left-radius: 20px;
  border-bottom-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -webkit-border-top-left-radius: 20px;
  border-top-left-radius: 20px; }
body:first-of-type .portlet-borderless-bar .portlet-title-default {
  -moz-border-radius-bottomright: 20px;
  -webkit-border-bottom-right-radius: 20px;
  border-bottom-right-radius: 20px;
  -moz-border-radius-topright: 20px;
  -webkit-border-top-right-radius: 20px;
  border-top-right-radius: 20px; }
body:first-of-type .portlet-borderless-container:hover .portlet-borderless-bar .portlet-actions {
  max-width: 500px; }
body:first-of-type .portlet-content:hover .lfr-icon-actions .taglib-text, body:first-of-type .portlet-borderless-container:hover .lfr-icon-actions .taglib-text {
  max-width: 200px; }
@media (max-width: 979px) {
  body:first-of-type .portlet-content .lfr-icon-actions .taglib-text, body:first-of-type .portlet-borderless-container .lfr-icon-actions .taglib-text {
    max-width: 200px; } }

.portlet-boundary.yui3-dd-dragging {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: -webkit-transform 0.3s ease;
  -moz-transition: -moz-transform 0.3s ease;
  -o-transition: -o-transform 0.3s ease;
  transition: transform 0.3s ease; }

.portlet-document-library .entry-thumbnail .label, .portlet-document-library-display .workflow-status .label, .portlet-journal .entry-thumbnail .label {
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0; }

@-webkit-keyframes lfr-drop-active {
  0% {
    background-color: #EBEBEB;
    border-color: #DDD; }

  50% {
    background-color: #DDEDDE;
    border-color: #7D7;
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1); }

  75% {
    background-color: #DDEDDE;
    border-color: #7D7; }

  100% {
    background-color: #EBEBEB;
    border-color: #DDD; } }

@-moz-keyframes lfr-drop-active {
  0% {
    background-color: #EBEBEB;
    border-color: #DDD; }

  50% {
    background-color: #DDEDDE;
    border-color: #7D7;
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1); }

  75% {
    background-color: #DDEDDE;
    border-color: #7D7; }

  100% {
    background-color: #EBEBEB;
    border-color: #DDD; } }

@-o-keyframes lfr-drop-active {
  0% {
    background-color: #EBEBEB;
    border-color: #DDD; }

  50% {
    background-color: #DDEDDE;
    border-color: #7D7;
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1); }

  75% {
    background-color: #DDEDDE;
    border-color: #7D7; }

  100% {
    background-color: #EBEBEB;
    border-color: #DDD; } }

@keyframes lfr-drop-active {
  0% {
    background-color: #EBEBEB;
    border-color: #DDD; }

  50% {
    background-color: #DDEDDE;
    border-color: #7D7;
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1); }

  75% {
    background-color: #DDEDDE;
    border-color: #7D7; }

  100% {
    background-color: #EBEBEB;
    border-color: #DDD; } }

.upload-drop-active .lfr-upload-container .upload-target {
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  -o-animation: none;
  animation: none; }
.upload-drop-active .portlet-document-library .document-container {
  -webkit-box-shadow: inset 0 0 5px #b8c1d1;
  -moz-box-shadow: inset 0 0 5px #b8c1d1;
  box-shadow: inset 0 0 5px #b8c1d1; }

.upload-drop-intent .lfr-upload-container .upload-target {
  -webkit-animation: lfr-drop-active 1s ease 0.2s infinite;
  -moz-animation: lfr-drop-active 1s ease 0.2s infinite;
  -ms-animation: lfr-drop-active 1s ease 0.2s infinite;
  -o-animation: lfr-drop-active 1s ease 0.2s infinite;
  animation: lfr-drop-active 1s ease 0.2s infinite; }

